@font-face {
  font-family: "AlegreyaSans";
  src: url("/font/Alegreya_Sans/AlegreyaSans-Regular.ttf") format("truetype");
}

$grid-breakpoints: (
  sm: 0,
  md: 640px,
  lg: 900px,
  xl: 1200px,
  xxl: 1400px,
) !default;
$font-family-base: "AlegreyaSans";

$container-width: 900px;

$rainbow: linear-gradient(
    crimson 0%,
    gold 25%,
    olivedrab 50%,
    skyblue 75%,
    rebeccapurple 100%
  )
  1;

@mixin figcaption-animation {
  margin: 0;
  position: relative;

  figcaption {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.25rem 0.5rem 0 0.5rem;
    border-bottom: 0.25rem solid transparent;
  }

  &:hover {
    img {
      filter: none;
      transform: scale(1.1);
    }
    figcaption {
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 0.25rem solid tomato;
    }
    figcaption::before {
      position: absolute;
      content: " ";
      display: block;
      height: 0.25rem;
      width: 100%;
      background-color: gold;
      bottom: -0.25rem;
      left: 0;
      animation: figcaption-border 0.5s ease-in-out;
    }
  }
}

@keyframes figcaption-border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
