footer {
  background-image: url("../../img/footer.png");
  background-repeat: repeat-x;
  background-color: #548d17;
  color: white;
  text-align: center;
  font-size: 0.85rem;
  padding-top: 4rem;
  height: 140px;
}
