.hidden-gem {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  .gem {
    background-color: black;
    box-shadow: -8px -8px 0 tomato, 0 5px gold, 5px -8px 0 yellowgreen,
      -5px 5px 0 olivedrab, 0 -7px 0 skyblue, 0 0 2px rebeccapurple,
      3px 5px crimson;

    &.gem-0 {
      width: 2px;
      height: 2px;
      box-shadow: none;
    }
    &.gem-1 {
      width: 8px;
      height: 8px;
    }
    &.gem-2 {
      width: 16px;
      height: 16px;
    }
    &.gem-3 {
      background-color: white;
      padding: 1rem;
      width: 100%;
      max-width: 350px;
      height: auto;
    }
  }
}
