@import "../../../variables";

.banner-background {
  background-image: url("../../../img/banner.jpeg");
  background-position: 50% 20%;
  background-size: cover;
  height: 400px;
  position: relative;
  border-image: $rainbow;
  border-width: 2px;
  border-bottom-style: solid;
}

.banner-text {
  font-size: 200%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5em 1em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  font-weight: bold;
}
